<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzy.leeboo.mapper.NationMapper">
  <!-- 获取所有的民族 -->
  <select id="getAllNations" resultType="com.gzy.leeboo.entity.Nation">
    SELECT
        *
    FROM
        nation
  </select>
</mapper>