<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzy.leeboo.mapper.PositionMapper" >
  <!-- 获取所有职位 -->
  <select id="getAllPositions" resultType="com.gzy.leeboo.entity.Position">
    SELECT
        *
    FROM
        position
  </select>

  <!-- 根据id删除职位 -->
  <delete id="deletePositionById" parameterType="integer">
    DELETE FROM
        position
    WHERE
        `id` = #{id}
  </delete>

  <!-- 根据id批量删除职位 -->
  <delete id="deleteBatchPositionByIds" parameterType="list">
    DELETE FROM
        position
    WHERE
        `id` IN
    <foreach collection="list" item="id" open="(" separator="," close=")">
        #{id}
    </foreach>
  </delete>

  <!-- 添加职位 -->
  <insert id="addPosition" parameterType="com.gzy.leeboo.entity.Position" >
    INSERT INTO
      `position`(`name`)
    VALUES
      (#{name})
  </insert>

  <!-- 修改职位是否可用 -->
  <update id="updatePositionEnabled" parameterType="com.gzy.leeboo.entity.Position">
    UPDATE
        position
    SET
        `enabled` = #{enabled}
    WHERE
        `id` = #{id}
  </update>

  <!-- 修改职位名称 -->
  <update id="updatePositionName" parameterType="com.gzy.leeboo.entity.Position" >
    UPDATE
        position
    <set>
      <if test="name != null and name.trim() != ''" >
        `name` = #{name}
      </if>
    </set>
    WHERE
        `id` = #{id}
  </update>
</mapper>