<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入职邮件</title>
</head>
<body>
<h1>欢迎入职！</h1>
欢迎 <span th:text="${name}"></span> 加入 <span th:text="${company}"></span>！
<br/>
<span>您的入职信息如下：</span>
<ul>
    <li>
        <b>姓名：</b><span th:text="${name}"></span>
    </li>
    <li>
        <b>部门：</b><span th:text="${department}"></span>
    </li>
    <li>
        <b>职位：</b><span th:text="${position}"></span>
    </li>
    <li>
        <b>职称：</b><span th:text="${rank}"></span>
    </li>
</ul>
您的入职日期是 <span th:text="${beginDate}"></span>，转正日期是 <span th:text="${conversionDate}"></span>。
</body>
</html>